


.search_container{
    position: relative;
    max-width: 400px;
}
.input_search
{
    width: 90%;
    height: 40px;

    margin-left:50px;
    padding: 10px 40px 10px 10px; /* Padding for left and right space */
    font-size: 16px;
    color: #333; /* Dark text color */
    border: none;
    border-bottom: 2px solid #ddd; /* Underline */
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease;
    border-radius: 5px;
}

.input_search:focus {
    border-color: #4CAF50; /* Highlighted color on focus */
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Icon color */
    font-size: 20px;
    cursor: pointer;
}